<ul>
  <% [:tracker, :parent_issue, :category, :assigned_to, :priority, :fixed_version, :status].each do |setting| %>
    <li>
      <%= check_box_tag "settings[#{setting}_id]", true, @settings["#{setting}_id"] %>
      <%=t("field_#{setting}") %>
    </li>
  <% end %>
  <li>
    <%= check_box_tag "settings[done_ratio]", true, @settings['done_ratio'] %>
    <%=t("field_done_ratio") %>
  </li>
</ul>
